.pagination
  width 80%
  margin (yard*3) auto
  font-weight 500
  .page-number
    display none

  &:before
    content ''
    display table
  &:after
    @extends .pagination:before
    clear both

  .extend
    text-decoration none
    color $theme-text-color-main
    font-size 18px

    &.next
      float right
      transition-sign()
      &:hover
        color $theme-color-main
        transform translateX(4%)
    &.prev
      float left
      transition-sign()
      &:hover
        color $theme-color-main
        transform translateX(-4%)
    +mobile()
      font-size 14px

.article-page
  width 90%
  margin (yard*3) auto
  font-weight 500
  +mobile()
    text-align center
  a
    text-decoration none
    color $theme-text-color-main
    font-size 16px
    +mobile()
      font-size 12px
    &:hover
      color $theme-color-main

  &:before
    content ''
    display table
  &:after
    @extends .pagination:before
    clear both

  .art-right
    float right
    transition-sign()
    +mobile()
      float none
      display block
      margin-bottom (yard*2)
    &:hover
      transform translateX(4%)
  .art-left
    float left
    transition-sign()
    +mobile()
      float none
      display block
      margin-top (yard*2)
    &:hover
      transform translateX(-4%)
.space
  visibility: hidden
