.backtop
    display flex
    flex-direction column
    z-index: 10
    position fixed
    bottom (yard*4)
    right @bottom

    &:hover
        -webkit-animation-name float-in
        animation-name float-in
        -webkit-animation-duration 2.33s
        animation-duration 2.33s
        -webkit-animation-iteration-count infinite
        animation-iteration-count infinite
    i
        font-size 24px
        font-weight 100
