.search
    display none
    .slide
        transform translateY(-100px)
    .mask
        position fixed
        z-index 500
        top 0
        left 0
        right 0
        bottom 0
        background rgba(0, 0, 0, 0.6)
    .search-wrapper
        background transparent
        width: 100%
        max-width 100%
        position absolute
        top 20%
        z-index 999
        display flex
        flex-direction column
        align-items center
        h1
            user-select none
            -webkit-user-select none
            -moz-user-select none
            color #FFF
            font-weight 100
            font-size 3.6rem
            +tablet()
                font-size: 3rem
            +mobile()
                font-size 1.2rem

        input
            width 800px
            height 60px
            outline none
            border none
            background transparent
            border 1px solid #FFF
            color #FFF
            font-size 32px
            padding yard
            font-weight 100
            +tablet()
                width 570px
                font-size 24px
            +mobile()
                width 230px
                font-size 18px
                height 24px

    #local-search-result
        background-color rgba(0, 0, 0, 0.2)
        +tablet()
            width 590px
        +mobile()
            width 100%
        .search-result-list
            font-weight 300
            list-style none
            width 800px
            color #FFF
            padding yard
            +tablet()
                width auto
            .search-result-title
                color #FFF
                text-decoration none
                font-weight 400
            .search-keyword
                font-weight 400
            .search-result-item
                padding yard
                border-top: 1px solid #707070
                &:hover
                    background-color rgba(0, 0, 0, 0.2)
    .end-line
        border none
        border-top 1px dashed #FFF
