@font-face {
  font-family: 'iconfont';  /* project id 249456 */
  src: url('../font/iconfont/iconfont.eot');
  src: url('../font/iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont/iconfont.woff2') format('woff2'),
  url('../font/iconfont/iconfont.woff') format('woff'),
  url('../font/iconfont/iconfont.ttf') format('truetype'),
  url('../font/iconfont/iconfont.svg#iconfont') format('svg');
}
