@font-face {
  font-family: 'iconfont';  /* project id 249456 */
  src: url('//at.alicdn.com/t/font_249456_pioci22nsoa.eot');
  src: url('//at.alicdn.com/t/font_249456_pioci22nsoa.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_249456_pioci22nsoa.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_249456_pioci22nsoa.woff') format('woff'),
  url('//at.alicdn.com/t/font_249456_pioci22nsoa.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_249456_pioci22nsoa.svg#iconfont') format('svg');
}
