@font-face {
  font-family: 'iconfont';  /* project id 249456 */
  src: url('//at.alicdn.com/t/font_249456_u49zzlas5ms.eot');
  src: url('//at.alicdn.com/t/font_249456_u49zzlas5ms.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_249456_u49zzlas5ms.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_249456_u49zzlas5ms.woff') format('woff'),
  url('//at.alicdn.com/t/font_249456_u49zzlas5ms.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_249456_u49zzlas5ms.svg#iconfont') format('svg');
}
