.post-toc
  position fixed
  top 0
  right 0
  bottom 0
  height 40%
  width 200px
  margin auto (yard*2) auto 0
  border none
  line-height 1.5rem
  word-wrap break-word
  box-sizing border-box
  .toc-inner
    &::-webkit-scrollbar
      width 1px
      height 1px
    height: 80%
    overflow: auto
    white-space nowrap
    padding (yard)
  ol
    list-style none
    padding-left (yard*2)
  .title
    display block
    margin 0 auto
    text-align center
    width 50%
    position relative
    -webkit-user-select none
    -moz-user-select none
    user-select none
    cursor pointer
    z-index 1
    &.not-toc
      transform rotate(90deg) translateY(-300%)
      > span
        opacity 0

    &:before
      content ''
      position absolute
      height 1px
      bottom 0
      left 0
      right 100%
      cursor pointer
      background: $theme-color-link
      transition-property right
      animation: lane-right 0.35s linear both
  .title-link
    list-style none
    margin-top (yard*2)
    a
      text-decoration none
      color $theme-color-text
      padding: 0 (yard)
      font-size 14px
      &.active
        border-left 2px solid $theme-color-main
  .toc
    margin 0
    padding 0
    list-style none
    .toc-item
      color $theme-color-text
      .toc-link
        color inherit
        text-decoration none
        padding: 0 (yard)
        font-size 14px
        &.active
            border-left 2px solid $theme-color-main
  +mobile()
    display none
  +tablet()
    display none

@keyframes lane-right
  from
    right: 100%
  to
    right 0
