@import './_common/normalize.styl'
@import './_common/variable.styl'
@import './_common/func.styl'
@import './_common/global.styl'

@import './_common/_utils/device.styl'
@import './_common/_utils/fonts.styl'
@import './_common/_utils/iconfont.styl'
// Custom
@import './_custom/custom.styl'

// Partial
@import './_partial/_code/index.styl'
@import './_partial/_post/copyright.styl'
@import './_partial/_post/reward.styl'
@import './_partial/_common/header.styl'
@import './_partial/_common/friendlink.styl'
@import './_partial/_common/about.styl'

$scheme = hexo-config('scheme')

if $scheme == 'banderole'
  // banderole
  @import './_partial/_schemes/_banderole/index.styl'
else
  // balance
  @import './_partial/_schemes/_balance/index.styl'
