.copy-line
    border none
    border-bottom 2px dashed $theme-color-link
.post-copyright
    .copy-author,
    .copy-url,
    .copy-origin,
    .copy-license
        margin (yard) (yard)
        font-family "Open Sans", sans-serif
        font-weight 300
        font-size 14px
        a
            color $theme-text-color-main
            text-decoration none
            &:hover
                color $theme-color-main
