.copy-line
    border none
    border-bottom 2px dashed $color-line
    height (yard*2)
.post-copyright
    .copy-author,
    .copy-url,
    .copy-origin,
    .copy-license
        margin (yard) (yard)
        font-family "Open Sans", sans-serif
        font-weight 300
        font-size 14px
        a
            color $color-main
            &:hover
                color $color-highlight
