.post-reward
    .reward-btn
        display block
        margin yard auto
        padding yard
        text-align center
        border 1px solid $color-main
        width 48px
        border-radius: 8px

        &:hover
            color #FFF
            background-color $color-main
            cursor pointer
