html, body
  height: 100%

body
  &.under
    overflow-y: hidden

.container
  position relative
  .container-inner
    position relative
    margin-left: 300px
    margin-top: 2%
    padding: 0 (yard*2)
    transform-origin: center top
    transition: all 280ms ease-in-out
    &.under
      border-radius: 12px
      transform: scale(0.9)
      transform-origin: 30% 20%
      filter: blur(16px)
    +mobile()
      width: 100%
      max-width: 100%
      margin: 0
      margin-top: (48+3*yard)
      padding: 0 yard*2
  .main
    max-width: max-width
    margin: 0 auto
