
// Header Style
$header-style = hexo-config("header-style")
// Header Sign
$header-sign = hexo-config("header_sign")

// Article Fonts
if hexo-config('fonts-style') == 'Custom'
  $article-fonts = $custom-article-font

if hexo-config('code-style') == 'Custom'
  $code-fonts = $custom-code-font
