.highlight
    position relative
    background-color $color-code-background
    width 100%
    margin (yard) 0
    overflow-x auto

    &:after
        content 'plain'
        font-family 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        font-weight 100
        color $color-line
        position absolute
        bottom 0
        right 0
        padding: (yard)

    table
        position relative

    pre
        font-family 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    .gutter
        width 10px
        color $color-code-line
        pre
            padding: 0 (yard)
    .code
        color $color-code-plain
        pre
            padding: 0 (yard)
    .line
        height line-height
    tr, td
        margin: 0

    .code
        .comment, .quote
            color $color-code-comment
        .keyword, .selector-tag, .addition
            color $color-code-keyword
        .number, .string, .meta .meta-string, .literal, .doctag, .regexp
            color $color-code-number
        .title, .section, .name, .selector-id, .selector-class
            color $color-code-title
        .attribute, .attr, .variable, .template-variable, .class .title, .type
            color $color-code-attribute
        .symbol, .bullet, .subst, .meta, .meta .keyword, .selector-attr, .selector-pseudo, .link
            color $color-code-symbol
        .built_in, .deletion
            color $color-code-builtIn
        .params
            color $color-code-params
