.backtop
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: $theme-color-main
  width: (yard*4)
  height: @width
  user-select: none
  -webkit-user-select: none
  cursor: pointer
  font-size: 12px
  border-radius: (yard/2)
  &:hover
    background-color: $theme-color-hover
    color: #fff
  &:active
    background-color: $theme-color-main
  +mobile()
    display: none
