.search
  input
    outline: none
    border: none
    background-color transparent
    width: 100%
    padding: 0 yard
  ::placeholder
      color: $theme-text-color-comment

.search
  display none
  position: fixed
  top: 98px
  right: 0
  bottom: 0
  left: 0
  z-index: 500
  overflow: auto
  overflow-x: hidden
  margin-top: 4em
  padding: 0 (yard*5)
  &.show
    display: block
  .input
    font-size 32px
    padding yard
    border-bottom: 1px solid $theme-color-main
    max-width: max-width
    margin: 0 auto
    +tablet()
      width 570px
      font-size 24px
    +mobile()
      width 230px
      font-size 18px
      height 24px
  #search-result
    margin-top: (yard*4)
    +mobile()
      width 100%
    .search-result-list
      list-style: none
      padding: yard
      max-width: max-width
      margin: 0 auto
      .search-result-item
        border-bottom: 1px solid $theme-line-color
        &:last-child
          border-color: transparent
        h2
          font-size 22px
        a
          text-decoration: none
          color: $theme-color-main
          transition-sign(color)
          &:hover
            color: $theme-color-hover
      .search-keyword
        color: $theme-color-main
