.switch-toc
  display: none
  flex-direction: column
  justify-content: center
  align-items: center
  color: $theme-color-main
  width: (yard*4)
  height: @width
  user-select: none
  -webkit-user-select: none
  cursor: pointer
  border-radius: (yard/2)
  margin-bottom: (yard/2)
  &:hover
    background-color: $theme-color-hover
    color: #fff
  &:active
    background-color: $theme-color-main
