.switch-toc
  display: none
  flex-direction: column
  justify-content: center
  align-items: center
  background: $theme-color-hover
  color: #fff
  width: (yard*4)
  height: @width
  user-select: none
  -webkit-user-select: none
  cursor: pointer
  border-radius: (yard/2)
  margin-bottom: (yard/2)
  &:hover
    background: $theme-color-main
