@font-face
    font-family: "LedFont"
    font-style: normal
    src: url(../font/lcd.ttf) format('truetype')

@font-face
    font-family: "iconfont"
    src: url('../font/iconfont/iconfont.eot')
    src: url('../font/iconfont/iconfont.eot') format('embedded-opentype'),
    url('../font/iconfont/iconfont.woff') format('woff'),
    url('../font/iconfont/iconfont.ttf') format('truetype'),
    url('../font/iconfont/iconfont.svg') format('svg')
