// ==============================
// Custom style
// ==============================

$custom-theme-style = {
  main: #fff,
  highlight: #fff
}

$custom-theme-global = {
  font-size: 16px,
  body-width: 800px,
  background: #f0f0f0,
  color: #49545f
}

// $custom-article-font = 'YaHei'

// $custom-code-font = monospace
