@keyframes indeterminate
  from
    left: -90%
    right: 100%
  60%
    left: -90%
    right: 100%
  to
    left: 100%
    right: -35%

@keyframes indeterminate-short
  from
    left: -200%
    right: 100%
  60%
    left: 107%
    right: -8%
  to
    left: 107%
    right: -8%
