transition-duration()
    transition-duration: arguments
    -moz-transition-duration: arguments
    -webkit-transition-duration: arguments
transition()
    transition: arguments
    -moz-transition: arguments
    -webkit-transition: arguments
transform()
    transform: arguments
    -ms-transform: arguments
    -moz-transform: arguments
    -webkit-transform: arguments
transition-delay()
    transition-delay: arguments
    -moz-transition-delay: arguments
    -webkit-transition-delay: arguments