transition-duration()
  transition-duration: arguments
  -moz-transition-duration: arguments
  -webkit-transition-duration: arguments
transition()
  transition: arguments
  -moz-transition: arguments
  -webkit-transition: arguments
transform()
  transform: arguments
  -ms-transform: arguments
  -moz-transform: arguments
  -webkit-transform: arguments
transition-delay()
  transition-delay: arguments
  -moz-transition-delay: arguments
  -webkit-transition-delay: arguments
user-select()
  user-select: arguments
  -moz-user-select: arguments
  -webkit-user-select: arguments

flex-wrapper($direction)
  display: flex
  flex-flow: $direction nowrap
  align-items: center
  { block }

transition-sign($sign = all)
  transition: $sign 280ms cubic-bezier(.8, 0, .2, 1)


headerStyle()
  if hexo-config('scheme') == 'balance'
    if $header-style == 'block'
      background-color: mix($theme-color-main, #fff, 15%)
    else
      background-color: #fff
      border-right: 1px solid mix($theme-color-main, #fff)
      border-image: -webkit-linear-gradient(#fff, mix($theme-color-main, #fff), #fff) 0 10 0 0
  else
    if $header-style == 'block'
      background-color: mix($theme-color-main, #fff, 5%)
