// ==============================
// Variable
// ==============================

// ======== Space ========
line-height = 1.5
yard = 8px

// ======== Font ========
font-weight = 400

// Normal Font
$normal-fonts = "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$header-fonts = 'Allura', cursive, serif

// Article Font
$article-fonts = {
  default: 'Optima'\, 'PingFang SC'\, 'Roboto'\, 'Noto SansCJK'\, 'Helvetica Neue'\, 'Helvetica'\, "Microsoft YaHei"\, "YaHei-Consolas-Hybrid"\, sans-serif
  YaHei: STHeiti\, 'Microsoft YaHei'\, "微软雅黑"\, serif
  Hel: 'Helvetica'\, 'Hiragino Sans GB'\, 'Roboto'\, 'Noto SansCJK'\, 'Heiti TC'\, 'Heiti SC'\, sans-serif
  Simsun: 'Times New Roman'\, 'Simsun'\, 'STSong'\, '华文宋体'\, sans-serif
}
$fonts-style = hexo-config('fonts-style')
if $fonts-style in $article-fonts
  $article-fonts = $article-fonts[$fonts-style]
  if $fonts-style == 'Custom'
    $article-fonts = $custom-article-font
else
  $fonts-style = $article-fonts['default']

// Code Font
$code-fonts = 'Segoe UI', monospace, Consolas, Monaco, Menlo, 'Microsoft YaHei', sans-serif
if hexo-config('code-style') == 'Custom'
  $code-fonts = $custom-code-font

$heading-list = {
  h1: 26px
  h2: 24px
  h3: 20px
  h4: 18px
  h5: 16px
  h6: 12px
}

// ======== Color ========

// Code highlight
$color-code-background = #f7f7f7
$color-code-plain = #2c2c2c
$color-code-line = #bbb
$color-code-keyword = #c678dd
$color-code-builtIn = #e6c07b
$color-code-string = #98c379
$color-code-params = #5799de
$color-code-number = #d19a66
$color-code-title = #e06c75
$color-code-comment = #a1a4aa
$color-code-attribute = #61aeee
$color-code-symbol = #cb4b16

// ======== Global ========
$global-setting = {
  font-size: 16px,
  background: #fff,
  color: #49545f
}

// ======== Theme ========
$theme-style = hexo-config("theme-style")

$theme-list = {
  dark: {
    main: #666
    highlight: #353535
  },
  sakura: {
    main: #fe89c3,
    highlight: #ff99cc
  },
  miku: {
    main: #39C5BB,
    highlight: #54DDD3
  },
  green: {
    main: #70bc68,
    highlight: #70fc77
  },
  blue: {
    main: #5eb0ff,
    highlight: #73b7f9
  },
  purple: {
    main: #596fef,
    highlight: #7597f9
  },
}

if $theme-style in $theme-list
  $theme-select = $theme-list[$theme-style]
  if $theme-style == 'Custom'
    $theme-select = $custom-theme-style
    $global-setting = $custom-theme-global
else
  $theme-select = $theme-list['default']


$theme-color-main = $theme-select.main
$theme-color-selection = $global-setting.background
$theme-color-selection-highlight = rgba($theme-color-main, .7)
$theme-color-link = $theme-select.highlight
$theme-color-text = $global-setting.color
$theme-color-comment = rgba($global-setting.color, .7)
