.tagcloud-taglist
  button
    outline: 0
    background-color: transparent
    border-radius: 12px
    border: 1px solid
    cursor: pointer
    color: $theme-color-main
    font-weight: bold
    padding: yard (yard*2)
    border-color: transparent $theme-color-main transparent $theme-color-main
    transition-sign()
    &:hover
      color: #fff
      background-color $theme-color-main

.tagcloud
  display none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 300px
  z-index: 500
  overflow: auto
  overflow-x: hidden
  &.show
    display: block
  +mobile()
    left: 0
  .tagcloud-taglist
    width: 100%
    margin-top: 6em
    padding: 0 (yard*5)
    +flex-wrapper(row)
      flex-wrap: wrap
    +mobile()
      padding: 0 (yard*2)
    .tagcloud-tag
      margin: yard (yard*2)
      +mobile()
        font-size: 14px

  .tagcloud-postlist
    display: none
    padding: 0 (yard*5)
    margin: (yard*3) 0
    h2
      color: $theme-color-main
    &.active
      display: block
    .tagcloud-post
      user-select none
      margin-left: (yard*3)
      line-height: 2
      transition-sign(color)
      a
        color: inherit
        text-decoration: none
      &:hover
        color: $theme-color-hover
      +mobile()
        margin-left: 0
    .tagcloud-posttime
      color: $theme-text-color-desc
      &:after
        content: ' · '
