.about
  color $theme-text-color-main
  font-weight 300
  .content
    padding 0 (yard*2)

    a
      border-bottom-width: 1px;
      border-bottom-style: solid;
      padding-bottom: 1px;
      transition-sign(color);
      &:hover
        color: $theme-color-link;
