.archive
  margin-top: 6em
  .archive-list
    max-width 100%
  .archive-title
    font-size: 32px
    margin: yard
    display: inline
  .archive-year
    display: block
    font-size: 28px
    margin: (yard*3) yard
    font-weight bolder
    color: $theme-color-main
  .archive-post
    max-width 100%
    max-height: 320px
    overflow: hidden
    padding: (yard*2)
    position: relative
    border-bottom: 1px solid $theme-line-color
    .archive-post-content
      @extend .post .post-content
    .archive-post-info
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      padding: 16px
      z-index: 1
      overflow: hidden
      +flex-wrapper(column)
        align-items: initial
        justify-content: flex-end
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index -1
        background: linear-gradient(transparent 12%, #fff 76%)
      a
        text-decoration: none
      .archive-post-time
        font-size: 14px
        color: $theme-text-color-sub
      .archive-post-link
        color: $theme-color-main
        font-size: 22px
        margin: 0
        margin-top: yard
        &:hover
          color: $theme-color-hover
