.archive
  color $theme-color-text
  .archive-title
    display inline-block
    margin 0
    font-family inherit
    font-weight 400
    color $theme-color-main
  .archive-num
    margin yard
    font-weight 300
  .archive-name
    font-size 16px
    font-weight 300
  .archive-list
    .archive-year
      font-family $normal-fonts
      font-weight 400
    ul
      list-style none
      padding 0
    .archive-post
      position relative
      border-left 1px solid #eae7e7
      padding (yard/2) yard
      &:hover
        &:after
          opacity 1
        .archive-post-time
          padding-left (yard*2)
        .archive-post-link
          color mix(#353535, $theme-color-main)
      &:after
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        opacity 0
        border-top: 10px solid transparent
        border-bottom  @border-top
        border-left 10px solid mix(#fff, $theme-color-main)
        transition all .3s linear .1s
      .archive-post-time
        font-family $normal-fonts
        color $theme-color-comment
      .archive-post-link
        line-height (line-height*1.2)
        color $theme-color-main
        a
          margin 0 yard
          text-decoration none
          color inherit
