.archive
  color: $theme-text-color-main
  .archive-title
    display: inline-block
    margin: 0
    font-family: inherit
  .archive-num
    margin: yard
  .archive-name
    font-size: 16px
  .archive-list
    .archive-year
      font-family: $normal-fonts
      color: $theme-color-main
    ul
      list-style: none
      padding: 0
    .archive-post
      position: relative
      border-left: 1px solid $theme-line-color
      padding: (yard/2) yard
      &:hover
        .archive-post-link
          color: mix(#383838, $theme-color-main)
      .archive-post-time
        font-family: $normal-fonts
        color: $theme-text-color-desc
      .archive-post-link
        line-height: (line-height*1.2)
        color: $theme-color-main
      a
        display block
        text-decoration: none
        color: inherit
