.friends
  margin-top (yard*5)
  color $theme-color-text
  font-weight 300
  .friends-inner
    display flex
    padding: 0 (yard*2)
    width 100%
    flex-direction column
    align-items flex-start
    box-sizing border-box
    a
      text-decoration none
      color $theme-color-main
      &:before
        content: '@'
