$bgStyle = hexo-config("mobile-header")
if $bgStyle == 'light'
  $backgroundColor = #fff
  $fontColor = $theme-color-main
else
  $backgroundColor = #666
  $fontColor = #fff

.mobile-header
  display: none
  position: fixed
  top: 0
  width: 100%
  z-index: 50
  +mobile()
    display: block
  .mobile-header-nav
    +flex-wrapper(row)
      justify-content: space-between
    background-color: $backgroundColor
    color: $fontColor
    min-height: 48px
    height: 48px
    .mobile-header-item
      flex: .5
      width: 100%
      height: @width
      color: inherit
    .mobile-header-title
      flex: 1
      text-align: center
      color: inherit
      font-weight: 300
      font-size: initial
      a
        font-family: $header-fonts
        text-decoration: none
        font-size: 32px
        color: inherit
        line-height: 1
  .header-menu-item
    position: relative
    padding: 0 12px
    box-sizing: border-box
    height: 100%
&.header-scroll
  transition-sign()
  box-shadow: -4px -1px 8px mix(#fff, $theme-color-main)
