.post
  margin-top 16px
  padding-top (yard*4)
  position relative
  font-weight font-weight
  border-line(bottom, #e1dede)
  +mobile()
    width 100%
    padding 0 yard
  &:first-child
    padding-top 0
  &:last-child,
  &.is_post
    background-image none
  .post-header
    margin-bottom (yard*2)
    a
      text-decoration none
      color $theme-color-text
    .post-time
      padding-left yard
      font-family $normal-fonts
      color $theme-color-comment
      .post-category
        font-size 14px
        a
          color $theme-color-comment
        &:before
          content ' | '

    .post-title
      width 100%
      margin yard 0
      margin-bottom (yard*2)
      font-weight inherit

  .post-tags
    display inline
    padding-left yard
    font-family $normal-fonts
    color $theme-color-main
    a
      position relative
      text-decoration none
      color inherit
      &:before
        content '#'

  .post-content
    color $theme-color-text
    font-family $article-fonts
    padding-bottom yard
    for $k, $v in $heading-list
      {$k}
        font-family $article-fonts
        font-weight inherit
        margin (yard*2) 0
        &:before
          content ($header-sign + ' ')

    table
      min-width 50%
      margin 16px 0
      border-collapse: collapse
      list-style none
      line-height 1.5
      text-align center
      tr
        font-weight 500
        &:nth-child(2n)
          background rgba($theme-color-main, .06)
      th
      td
        min-width 100px
        padding 8px
      thead
        background-color #fafafa

    .content-link
      a
        position relative
        color mix($theme-color-main, #b9b9b9)
        font-weight 500
        text-decoration none
        &:hover
          text-decoration none

        &:after
          content ''
          position absolute
          bottom -(yard/2)
          left 50%
          right 50%
          background-color $theme-color-main
          height 2px
          transition all .15s linear
        &:hover
          &:after
            left 0
            right 0

    p
      font-family inherit
      line-height line-height

    strong
      font-weight 600

    a
      color $theme-color-main
      text-decoration none
      margin 0 (yard/2)
      &:hover
        text-decoration underline

    i
      font-weight 300

    img
      max-width 100%
      display inline

    code
      background-color rgba($theme-color-main, .1)
      color mix(#000, $theme-color-link)
      font-family $code-fonts
      margin 0 (yard/2)
      padding 0 (yard/2)

    blockquote
      position relative
      margin yard (yard*2)
      padding (yard/4) yard
      background-color rgba($theme-color-main, .1)
      border-left 4px solid $theme-color-main
      color mix(#282626, $theme-color-main)
      &:before
        content ''
        position absolute
        top 0
        right 0
        border-width 0 12px 12px 0
        border-color #fff #fff transparent transparent
        background transparent
        border-style solid
        width 0
        box-shadow -1px 1px 1px -1px #bbb4b4
      p
        margin yard 0

#com-switch
  color $theme-color-main

#disqus_thread
  a
    color $theme-color-text
