.about
    padding (yard*2) (yard*7)
    font-family Athelas, "PingFang SC", serif
    font-weight 300
    .title
        font-family Athelas, "PingFang SC", serif
        font-weight 300
    .content
        padding (yard) (yard*2)

    p
        line-height line-height
