.footer
    margin (yard) 0
    width 100%
    height 100%
    hr
        border none
        height 1px
        background-color $color-main
        background-image -webkit-linear-gradient(0deg, #FFF, $color-main, #FFF)
    .footer-wrapper
        display flex
        flex-direction row
        align-items center
    .left
        flex 1
        padding (yard*2)
        border-right 1px solid $color-line
        border-image -webkit-linear-gradient(#fff, $color-line, #fff) 0 10 0 0
        .contact-icon
            display flex
            justify-content center
            a
                margin (yard/2) (yard)
                text-decoration none
                color $color-main
                font-size 26px
        .icon-github:hover
            color #24292e
        .icon-weibo:hover
            color #e6162d
        .icon-twitter:hover
            color #1ab2e8
        .icon-zhihu:hover
            color #0767c8
        .icon-linkedin:hover
            color #5290bc
        .icon-facebook:hover
            color #4e69a2
        .icon-ins:hover
            color #d10869
    .right
        flex 2
        display block
        padding (yard*2)
        .copyright
            display flex
            justify-content flex-start
            flex-direction column
            span
                color $color-main
                font-size 11px
                font-family 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
            a
                font-family Arial
                text-decoration none
                color $color-main
                &:hover
                    color $color-highlight
                    text-decoration underline
    .visit_count
        color $color-main
        display flex
        align-items center
        .iconfont
            font-size 14px
        span
            margin: (yard/2) (yard/2)
