.container
  *
    transition-duration .35s
  .container-inner
    width 800px
    margin 0 auto
    margin-top (yard*2)
    +tablet()
      width 100%
    +mobile()
      width 100%
      max-width 100%
      margin-top (yard*2)+50
