.container
  *
    transition-duration .35s
  .container-inner
    width 100%
    margin-top 2%
    &.has_toc
      padding-left yard
      padding-right 200px
      +tablet()
        padding 0

.main
  max-width 800px
  margin 0 auto
  +tablet()
    width 100%
    max-width 100%
    padding 0 (yard*2)
  +mobile()
    width 100%
    max-width 100%
    margin-top (yard*2)+50
    padding 0 yard
