.header
  width 100%
  height 110px
  padding (yard*2)
  display flex
  align-items center
  headerStyle()
  +mobile()
    display none
  &.show
    filter blur(3px)
  .header-wrapper
    display flex
    justify-content space-between
    align-items center
    flex-direction row
    width 800px
    margin 0 auto
    font-size 16px
    color $theme-color-text
  .logo
    display flex
    align-items center
    -webkit-user-select none
    -moz-user-select none
    user-select none
    font-size 42px
    font-family: $header-fonts
    a
      color inherit
      text-decoration none
    span
      display block
      text-align left
    #subtitle
      opacity 0
      position absolute
      margin-top (yard/2)
      font-size 12px
      width 100%
      font-family $normal-fonts
  .logo-inner
    position relative
    width 100%
    max-width 100%
    span:hover+#subtitle
        opacity 1
  .main-nav
    display flex
    justify-content flex-end
    +tablet()
      flex 2

  .main-nav-list
    padding 0
    list-style none
    .menu-item
      display inline-block
      padding 0 (yard*2)
      a
        display flex
        flex-direction column
        text-decoration: none
        color $theme-color-text
        font-size inherit
        text-align center
        &:hover
          color $theme-color-link
      .menu-item-label
        font-size 12px
